*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}



ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	text-decoration: none;
	background: none;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

// ::-webkit-scrollbar {
//     background-color: $background-color-2;
//     width: 10px;
//     border-radius: 6px;
// } 

// ::-webkit-scrollbar-thumb {
//     background-color: #fff;
//     border-radius: 6px;
// }