$background-color-main: #6AA695;
$background-color-secondary: #B8D9C6;

$text-color-main: #193140;
$text-color-secondary: #1C5359;
$text-color-light-grey: #828282;
$text-color-grey: #3D3D3D;

$background-color-button: #347367;
$background-color-button-hover: #6AA695;